  /* Mulish font for all the text  */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

  * {
      font-family: 'Mulish', sans-serif;
      /* padding-left: 135px;
    padding-right: 135px; */
  }

  /* nav related styles start*/

  .logo {
      width: 48px;
      height: 56.008px;
      flex-shrink: 0;
  }

  .home-title {
      color: #131318;
      font-family: Mulish;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      display: flex;
  }

  .ruch {
      color: #FF5400;
      font-family: Mulish;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-left: 17px;
      margin-top: 0px;
  }

  nav {
      display: flex;
      justify-content: space-between;
      margin-left: 135px;
      margin-right: 127px;
  }

  nav>ul {
      display: flex;
      align-items: center;
  }

  nav li {
      list-style: none;
      margin-right: 44px;
      color: #424247;
      text-align: center;
      font-family: Mulish;
      font-size: 1.13rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  .home {
      color: #FF5400;
      text-align: center;
      font-family: Mulish;
      font-size: 1.13rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  nav li a {
      text-decoration: none;
  }

  /* nav related styles end */

  /* banner related styles start */

  .banner {
      width: 1170px;
      height: 500px;
      flex-shrink: 0;
      border-radius: 16px;
      background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
      margin-left: 135px;
      margin-right: 135px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  }

  .banner-title {
      color: #FFF;
      font-family: Mulish;
      font-size: 4rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-align: center;
      margin-bottom: 24px;
      /* margin-top: 106px; */
  }

  .banner-description {
      color: #FFF;
      text-align: center;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-left: 247px;
      margin-right: 247px;
      margin-top: 0px;
      margin-bottom: 48px;
  }

  .banner-select {
      display: inline-flex;
      padding: 1rem;
      align-items: flex-start;
      gap: 24px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.30);
      margin-left: 170px;
      margin-right: 135px;
  }

  .where-go {
      width: 174px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #FFF;
      border-style: none;
      padding-left: 16px;
      color: rgba(19, 19, 24, 0.50);
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

  }

  .when-input {
      width: 174px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 8px;
      border-style: none;
      background: #FFF;
      color: rgba(19, 19, 24, 0.50);
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-left: 16px;
  }

  .find-now {
      width: 174px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #FF5400;
      border-style: none;
      color: #FFF;
      text-align: center;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      padding-left: 35px;
      padding-top: 14px;
      cursor: pointer;
  }

  .find-img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 8px;
  }

  /* banner related styles end  */

  /* popular tours section related styles start  */

  .popular-tours {
      display: flex;
      margin-top: 100px;
      margin-left: 135px;
      margin-right: 135px;
      gap: 53px;
  }

  .p-t-c-title {
      color: #131318;
      text-align: start;
      font-family: Mulish;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 0px;
      margin-bottom: 24px;
  }

  .p-t-c-description {
      color: rgba(19, 19, 24, 0.70);
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 0px;
  }

  .ptc-description-outro {
      color: rgba(19, 19, 24, 0.70);
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
  }

  .bullet-point {
      color: rgba(19, 19, 24, 0.70);
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
  }

  .read-more-btn {
      width: 174px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 8px;
      border-style: none;
      background: #FF5400;
      color: #FFF;
      text-align: center;
      font-family: Mulish;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      cursor: pointer;
  }

  /* popular tours section related styles ended */

  /* choose your destination section related styles started */

  .choose-destination {
      margin-top: 100px;
  }

  .choose-destination-content {
      display: flex;
      flex-direction: column;
  }

  .cd-title {
      color: #131318;
      text-align: center;
      font-family: Mulish;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }

  .cd-description {
      width: 643px;
      color: rgba(19, 19, 24, 0.70);
      text-align: center;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      justify-content: center;
      align-items: center;
      margin-left: 399px;
      margin-right: 399px;
      margin-bottom: 45px;
  }

  .destination-img {
      margin-left: 135px;
      margin-right: 135px;
  }

  .row-1 {
      display: flex;
      gap: 24px;
  }

  .img-1 {
      width: 573px;
      height: 300px;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Mulish;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 16px;
      background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
  }

  .img-2 {
      width: 573px;
      height: 300px;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Mulish;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 16px;
      background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
  }

  .row-2 {
      display: flex;
      gap: 24px;
  }

  .img-3 {
      width: 374px;
      height: 286px;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Mulish;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 16px;
      background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
      margin-top: 0px;
  }

  .img-4 {
      width: 474px;
      height: 286px;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Mulish;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 16px;
      background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
      margin-top: 0px;
  }

  .img-5 {
      width: 274px;
      height: 286px;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Mulish;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 16px;
      background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
      margin-top: 0px;
  }

  .row-3 {
      display: flex;
      gap: 24px;
  }

  .img-6 {
      width: 473px;
      height: 300px;
      flex-shrink: 0;
      text-align: center;
      color: #FFF;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Mulish;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 16px;
      background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
      margin-top: 0px;
  }

  .img-7 {
      width: 673px;
      height: 300px;
      flex-shrink: 0;
      text-align: center;
      color: #FFF;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Mulish;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 16px;
      background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
      margin-top: 0px;
  }

  /* choose your destination related styles ended */

  /* why choose us section related styles started */

  .why-content {
      display: flex;
      flex-direction: column;
  }

  .why-title {
      color: #131318;
      text-align: center;
      font-family: Mulish;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }

  .why-description {
      width: 643px;
      color: rgba(19, 19, 24, 0.70);
      text-align: center;
      justify-content: center;
      align-items: center;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-left: 399px;
      margin-right: 399px;
      margin-bottom: 48px;
  }

  .choose-card-row1 {
      margin-left: 135px;
      margin-right: 135px;
      display: flex;
      gap: 24px;
  }

  .card-hotel {
      width: 573px;
      height: 284px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 1px solid rgba(251, 181, 99, 0.20);
      background: rgba(251, 181, 99, 0.05);
      padding-left: 32px;
      padding-top: 32px;
      padding-bottom: 32px;
  }

  .card-hotel-img {
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      margin-bottom: 0px;
  }

  .card-hotel-title {
      color: #131318;
      text-align: start;
      font-family: Mulish;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 32px;
      margin-bottom: 16px;
  }

  .card-hotel-description {
      width: 486px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 0px;
      margin-right: 55px;
  }

  .card-map {
      width: 573px;
      height: 284px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 1px solid rgba(41, 206, 246, 0.20);
      background: rgba(41, 206, 246, 0.05);
      padding-left: 32px;
      padding-top: 32px;
      padding-bottom: 32px;
  }

  .card-map-img {
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      margin-bottom: 0px;
  }

  .card-map-title {
      color: #131318;
      text-align: start;
      font-family: Mulish;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 32px;
      margin-bottom: 16px;
  }

  .card-map-description {
      width: 486px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 0px;
      margin-right: 55px;
  }

  .choose-card-row2 {
      margin-left: 433px;
      margin-right: 433px;
      display: flex;
      align-items: center;
      margin-top: 24px;
  }

  .card-deals {
      width: 573px;
      height: 284px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 1px solid rgba(233, 68, 68, 0.20);
      background: rgba(233, 68, 68, 0.05);
      padding-left: 32px;
      padding-top: 32px;
      padding-bottom: 32px;
  }

  .card-deals-img {
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      margin-bottom: 0px;
  }

  .card-deals-title {
      color: #131318;
      text-align: start;
      font-family: Mulish;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 32px;
      margin-bottom: 16px;
  }

  .card-deals-description {
      width: 486px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 0px;
      margin-right: 55px;
  }

  /* why choose us section related styles ended */

  /* deals & discount section related styles started */

  .deals-discount {
      margin-top: 100px;
      margin-left: 135px;
      margin-right: 135px;
  }

  .deals-title {
      color: #131318;
      text-align: center;
      font-family: Mulish;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }

  .deals-description {
      width: 643px;
      color: rgba(19, 19, 24, 0.70);
      text-align: center;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-left: 263px;
      margin-right: 263px;
      margin-bottom: 48px;
  }

  .deals-box1 {
      width: 1170px;
      height: 500px;
      flex-shrink: 0;
      border-radius: 16px;
      background: url(../Images/Group\ 39.png), lightgray 50% / cover no-repeat;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
  }

  .deals-details1 {
      width: 579px;
      height: 389px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 2px solid #FFF;
      background: rgba(255, 255, 255, 0.80);
      backdrop-filter: blur(2.5px);
      margin-left: 450px;
      margin-top: 16px;
      padding-left: 50px;
      padding-top: 50px;
  }

  .guest1 {
      display: flex;

  }

  .guest-img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 8px;
      margin-bottom: 0px;
  }

  .guest-txt {
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      margin-bottom: 0px;
      margin-right: 24px;
  }

  .guest1-title {
      color: #131318;
      font-family: Mulish;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 26px;
      margin-bottom: 16px;
  }

  .guest1-description {
      width: 452px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 0px;
      margin-bottom: 16px;
  }

  .guest1-price {
      color: #FF5400;
      font-family: Mulish;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 0px;
      margin-bottom: 24px;
  }

  .book-btn {
      width: 150px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 8px;
      border-style: none;
      background: #FF5400;
      color: #FFF;
      text-align: center;
      font-family: Mulish;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      cursor: pointer;
  }

  .deals-box2 {
      width: 1170px;
      height: 500px;
      flex-shrink: 0;
      border-radius: 16px;
      background: url(../Images/Group\ 40.png), lightgray 50% / cover no-repeat;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
  }

  .deals-details2 {
      width: 579px;
      height: 389px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 2px solid #FFF;
      background: rgba(255, 255, 255, 0.80);
      backdrop-filter: blur(2.5px);
      margin-left: 5px;
      margin-right: 450px;
      margin-top: 16px;
      padding-left: 50px;
      padding-top: 50px;
  }

  .guest1 {
      display: flex;

  }

  .guest-img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 8px;
      margin-bottom: 0px;
  }

  .guest-txt {
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      margin-bottom: 0px;
      margin-right: 24px;
  }

  .guest1-title {
      color: #131318;
      font-family: Mulish;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 26px;
      margin-bottom: 16px;
  }

  .guest1-description {
      width: 452px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 0px;
      margin-bottom: 16px;
  }

  .guest1-price {
      color: #FF5400;
      font-family: Mulish;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 0px;
      margin-bottom: 24px;
  }

  .book-btn {
      width: 150px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 8px;
      border-style: none;
      background: #FF5400;
      color: #FFF;
      text-align: center;
      font-family: Mulish;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      cursor: pointer;
  }

  .see-btn {
      width: 210px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #FF5400;
      border-style: none;
      color: #FFF;
      text-align: center;
      font-family: Mulish;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-left: 480px;
      margin-top: 48px;
      cursor: pointer;
  }

  /* deals & discount section related styles ended */

  /* get lost section related styles */

  .get-lost {
      margin-top: 110px;
      margin-left: 135px;
      margin-right: 135px;
      display: flex;
      gap: 28px;
  }

  .get-lost-title {
      width: 448px;
      color: #131318;
      font-family: Mulish;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: 60px;
      margin-top: 0px;
      margin-bottom: 24px;
  }

  .get-lost-description {
      width: 532px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 0px;
      margin-bottom: 24px;
  }

  .get-lost-li {
      width: 518px;
      color: #131318;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      margin-top: 0px;
      margin-bottom: 32px;
  }

  .lost-see-btn {
      width: 174px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #FF5400;
      border-style: none;
      color: #FFF;
      text-align: center;
      font-family: Mulish;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      cursor: pointer;
  }

  .get-vdo {
      width: 610px;
      height: 524px;
      flex-shrink: 0;
      border-radius: 16px;
      /* margin-top: 50px; */
  }

  /* get lost section related styles ended */

  /* reviews section related styles started */

  .reviews {
      width: 1170px;
      height: 720px;
      flex-shrink: 0;
      display: flex;
      margin-left: 135px;
      margin-right: 135px;
      margin-top: 100px;
      border-radius: 16px;
      border: 1px solid rgba(251, 181, 99, 0.20);
      background: 100% rgba(251, 181, 99, 0.05);
      padding-top: 50px;
      padding-left: 30px;
  }

  .reviews-img {
      width: 64px;
      height: 64px;
      flex-shrink: 0;
  }

  .reviews-title {
      color: #131318;
      text-align: start;
      font-family: Mulish;
      font-size: 2rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }

  .reviews-description {
      width: 486px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 25px;
  }

  .reviews-bullet {
      list-style: none;
      margin-right: 44px;
      color: #424247;
      text-align: start;
      font-family: Mulish;
      font-size: 1.13rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      margin-bottom: 20px;
      margin-top: 25px;
  }

  .reviews-card {
      display: flex;
      flex-direction: column;
      gap: 70px;
      margin-left: 100px;
  }

  .reviews1 {
      width: 373px;
      height: 284px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 1px solid rgb(252, 253, 253);
      background: rgb(253, 254, 254);
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 20px;
      cursor: pointer;
      margin-left: 60px;
      margin-right: 0px;
  }
  .reviews2 {
      width: 373px;
      height: 284px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 1px solid rgb(252, 253, 253);
      background: rgb(253, 254, 254);
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 20px;
      cursor: pointer;
  }

  .reviews-img2 {
      width: 130px;
      height: 64px;
      flex-shrink: 0;
      margin-right: 20px;
  }

  .img-star {
      display: flex;
      flex-direction: row;
  }

  .reviews-description2{
    width: 386px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 25px;
  }

  /* reviews section related styles ended */

  